header.header
    div.header__mainvisual__bg
      div.header__mainvisual__logo: img(src="../images/main_visual_logo.png" , alt="関西の電気安さで選ぶならならでん")
      div.header__mainvisual__text: img(src="../images/main_visual_text.png" , alt="使えば使うほどお得！「ならでん」に切り替えると年間22,000円以上安く!")
    ul.header__mainvisual-list
      li.header__mainvisual-list__item
        div.icon
          svg: use(xlink:href="#ico_yen")
        div.label-text
          | 関西エリア
          em 最安値※
      li.header__mainvisual-list__item
        div.icon
          svg: use(xlink:href="#ico_lamp")
        div.label-text
          | 関西全域に
          em 安定供給
      li.header__mainvisual-list__item
        div.icon
          svg: use(xlink:href="#ico_government")
        div.label-text
          | 自治体への
          em 供給実績多数
      li.header__mainvisual-list__item
        div.icon
          svg: use(xlink:href="#ico_www")
        div.label-text
          | 手続きは全て
          em ネットで完結
      
    div.header__mainvisual__supplement
      | ※日本新電力総合研究所調べ
