footer.footer
  .footer-logo
    img(src="/images/logo.png" , alt="ならでん")
  ul.footer-link-box
    li.footer-link-box__item
      a(href="https://www.naradenryoku.co.jp/policy.html" , target="_blank")
        |個人情報保護方針
    li.footer-link-box__item
      a(href="https://www.naradenryoku.co.jp/specific.html" , target="_blank")
        |特定商取引法に基づく表示
  small.copy
    |Copyright © 2020 NARA ELECTRIC POWER Co.,Ltd All Rights Reserved.
